{
  "env": {
    "commonjs": {
      "presets": [
        ["env", {
          "useBuiltIns": false
        }]
      ],
      "plugins": ["transform-class-properties"]
    },
    "es": {
      "presets": [
        ["env", {
          "useBuiltIns": false,
          "modules": false
        }]
      ],
      "plugins": ["transform-class-properties"]
    }
  }
}