{
  "env": {
    "commonjs": {
      "presets": [
        ["env", {
          "useBuiltIns": false
        }]
      ],
      "plugins": [
        "external-helpers",
        "transform-class-properties"
      ]
    },
    "es": {
      "presets": [
        ["env", {
          "useBuiltIns": false,
          "modules": false
        }]
      ],
      "plugins": [
        "external-helpers",
        "transform-class-properties"
      ]
    }
  }
}